.header{
    background-color: black;
    padding-bottom: 60px;
    height: auto;
    width: 100%;
    color: white;
    
}
.info{
    display: flex;
    padding: 50px 0px 60px 120px ;
    align-items: center;
}
.bold{
    font-size: xx-large;
    font-weight: 500;
    padding-bottom: 20px;
}
.light{
   font-size: medium;
   font-weight: 300;
}
.pizza{
    width: 360px;
    height: 360px;
    
    
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 140px;
}