.menu-main{
    background-color: rgb(221, 221, 221);
}
.menu-title{
    margin: 0px;
    padding:  20px 0 0 55px ;
}
.menu-name{
    margin: 0px;
    font-weight: 700;
    font-size: xxx-large;
    color: #ff4800;
}
.menu-container{
    display: flex;
    flex: row;
    justify-content: space-evenly;
    padding: 20px 40px;
    gap: 20px;
}