.navbar {
    background-color:black;
    padding: 1rem;
  }
  
  .nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  .nav-item {
    margin: 0 1rem;
  }
  
  .nav-item a {
    color: #fff;
    text-decoration: none;
  }